[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.31.0"
pandas = "==2.2.0"
numpy = "==1.26.4"
yfinance = "==0.2.36"

[requires]
python_version = "3.9"
